.secrets/SECRET_COOKIE_PASSWORD
**/.env
**/.DS_Store

# Node
**/node_modules/
# Next.js
.next/
.turbo/
out/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfplan
**/outputs.json
